@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>This is our project for the CC2T hackathon <br />
    Bart Meeremans, Sander Deneyer, Yarne Valck, Bram Van Pevenage
    </p>
