@{
    ViewData["Title"] = "RisicoStatus";
}
<h1>RisicoStatus</h1>
<h2>Confirmation</h2>
<hr />
<div class="alert alert-success mt-3" role="alert">
    Your status request has been registered!
</div>
<a asp-controller="Home" asp-action="PeopleList">Go to list of people</a>
